@model MVCGrid.Core.Product
@{
    ViewBag.Title = "HTML EDITOR";
}

@*
http://welldonethings.com/tags/manager
http://ioncache.github.com/Tag-Handler/
*@

<div class="container">
    <h2>
        Tags</h2>
    <ul id="basic_tag_handler">
    </ul>
</div>

