<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <appSettings>
    
    <!--################################################## used in namespace Base.Core.Utils.Nhibernate.SessionSetup ################################################## -->
    <add key="UseMonoSqliteDriver" value="true" />
    <!-- This value overwrites app.config settings for nHibernate and forces uses MonoSqliteDriver -->
    <add key="DbFile" value="APPDB.db" />
    <!-- Sets Sqlite database file name -->
    <add key="BuildSchema" value="true" />
    <!--################################################## used in namespace Base.Core.Utils.Nhibernate.SessionSetup ################################################## -->
    
    <!--################################################## used in namespace Base.Core.HttpHost.Server ################################################## -->
    <!-- Has been tested with IPV4 not IPV6 -->
    <add key="UseHostBaseAddress" value="false" />
    <add key="HostBaseAddress" value="http://127.0.0.1:8080" />
    <add key="UseHostBasePort" value="true" />
    <add key="HostBasePort" value="8080" />
    <!--################################################## used in namespace Base.Core.HttpHost.Server ################################################## -->
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>