<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BibleEntities" connectionString="metadata=res://*/Bible.csdl|res://*/Bible.ssdl|res://*/Bible.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5.89.208.250;initial catalog=Bible;persist security info=True;user id=Bible;password=Bible;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
