<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <!--
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceArduinoSwitches"
                 openTimeout="00:01:00"  receiveTimeout="00:01:00" sendTimeout="00:01:00"/>
            </basicHttpBinding>
        </bindings>
        -->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceArduinoSwitches" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"/>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://192.168.1.97:8080/ServiceArduinoSwitches.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceArduinoSwitches" contract="ArduinoServiceReference.IServiceArduinoSwitches" name="BasicHttpBinding_IServiceArduinoSwitches"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
