<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BaseEntities" connectionString="Data Source=localhost;Database=Base;UID=sa;pwd=Password2012;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="BaseEntities" connectionString="Data Source=|DataDirectory|Base.sdf" providerName="System.Data.SqlServerCe.4.0"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
