@{
    ViewBag.Title = "Bootstrap";
}

<div class="page-header">
    <h3>Bootstrap examples</h3>
</div>

<form role="form">
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/blog/index.html'">Blog</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/carousel/index.html'">Carousel</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/cover/index.html'">Cover</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/dashboard/index.html'">Dashboard</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/grid/index.html'">Grid</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/jumbotron/index.html'">Jumbotron</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/jumbotron-narrow/index.html'">Jumbotron-narrow</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/justified-nav/index.html'">Justified-nav</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar/index.html'">Navbar</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar-fixed-top/index.html'">Navbar-fixed-top</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/navbar-static-top/index.html'">Navbar-static-top</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/non-responsive/index.html'">Non-responsive</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/offcanvas/index.html'">Offcanvas</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/signin/index.html'">Signin</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/starter-template/index.html'">Starter-template</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/sticky-footer/index.html'">Sticky-footer</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/sticky-footer-navbar/index.html'">Sticky-footer-navbar</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/Content/Bootstrap/bootstrap-3.1.1/docs/examples/theme/index.html'">Theme</button>
    </div>
</form>











