<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2ade207d-226b-45fd-87b5-a0df005638a5.sqlserver.sequelizer.com;initial catalog=db2ade207d226b45fd87b5a0df005638a5;persist security info=True;user id=enifjgbehhfnmbpf;password=e5ty5G8ewXsTmodtaJxpcVuFUUQqtmjdqd6EkSMLFoXF5r7dn2G3MwjqHUMiYQSj;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MVCGrid;persist security info=True;user id=MVCGRID2;password=MVCGRID2;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
