@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                MVC Grid SEO Page
            </p>
            <h2>@ViewBag.Message</h2>
        </div>
    </section>
}
