<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">DefaultConnection</property>
      <!--<property name="connection.connection_string">Data Source=192.168.1.14;Initial Catalog=NHibernate;User ID=NHibernate;Password=Password2013</property>-->
      <property name="connection.connection_string">Data Source=192.168.1.97;Initial Catalog=MonoTest;User ID=MonoTest;Password=Password2014</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <!--
        
        <property name="connection.isolation">ReadCommitted</property>
        <property name="dialect">NHibernate.Dialect.MsSql2000Dialect</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="connection.connection_string_name">DefaultConnection</property>
        <property name="connection.connection_string">Data Source=192.168.1.14;Initial Catalog=NHibernate;User ID=NHibernate;Password=Password2013</property>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="show_sql">true</property>
        
        <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
        <property name="connection.connection_string">
        Server=192.168.1.35;Database=mysql;User ID=mdelgert;Password=Password2013; Port=3306
        </property>
        <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
        
    -->
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.14;Database=NHibernate;UID=NHibernate;pwd=Password2013;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=192.168.1.97;Database=MonoTest;UID=MonoTest;pwd=Password2014;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>