<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="NetworkInformationTools@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="NetworkInformationTools@gmail.com" password="Password2013!" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--Gmail server has a bug that does not allow send to address from the same address in this case send through an open mail relay-->
    <add key="SMTPRelayPort" value="25" />
    <add key="SMTPRelayEnableSsl" value="false" />
    <add key="SMTPRelayHost" value="s2smtpout.secureserver.net" />
    <add key="SendEmailTo" value="NetworkInformationTools@gmail.com" />
    <add key="SendEmailFrom" value="NetworkInformationTools@gmail.com" />
    <add key="SendEmailSubject" value="Network Information Tools Subject" />
  </appSettings>
</configuration>

<!--http://msdn.microsoft.com/en-us/library/system.net.mail.smtpclient.enablessl(v=vs.80).aspx-->
