@{
    ViewBag.Title = "Links";
}
<h4>External links.</h4>

<form role="form">
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://kendoui.codeplex.com/'">Codeplex KendoUI</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://bootstraptour.com/'">Bootstrap Tour</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://getbootstrap.com'">Bootstrap Demos</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://www.telerik.com/kendo-ui'">Kendo U</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://demos.telerik.com/kendo-ui/web/overview/index.html'">Kendo UI HTML Demos</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jquery.com'">jQuery</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jquerymobile.com/'">jQuery Mobile</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://demos.jquerymobile.com/1.4.2/'">jQuery Mobile Demos</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://jqueryui.com/'">jQuery UI</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://jqueryui.com/demos/'">jQuery UI Demos</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/aFarkas/html5shiv'">GitHub HTML5 Shiv</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://appharbor.com/'">AppHarbor</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://razor.servicestack.net/'">razor.servicestack.net</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://mono.servicestack.net/'">mono.servicestack.net</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack/ServiceStack/wiki'">ServiceStack wiki</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack'">GitHub ServiceStack</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'https://github.com/ServiceStack/RazorRockstars'">GitHub RazorRockstars</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = 'http://www.nuget.org/packages/ServiceStack.Razor/3.9.10'">Nuget ServiceStack.Razor</button>
    </div>
</form>



