@{
    ViewBag.Title = "Task - Delete";
}

<div class="page-header">
    <h3>Task CRUD operations.</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <form role="form"></form>
    </div>
</div>