/* --------------------------------------------------------------------------------------------------------------------------------------------------
HTML
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {background:#FFF;}
a {color:#000;}
a:hover {color:#555;}
h2.page-title {border-bottom:3px solid #CCCCCC;}
ul ul {color:#555;}
table {border:2px solid #CCC;}
table th {border:1px solid #CCC; border-bottom:2px solid #FC0;}
table td {border:1px solid #CCC;}
table tr.even td {background:#EEE;}
fieldset {border:1px solid #CCC;}
fieldset dt {color:#555;}
.input-text {border:1px solid #AAA;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#header {background-color:#000;}
#header #logo, #header #logo a {color:#FFF;}
#header .header-button {background-color:#FC0; color:#000;}
#nav {border-top:1px solid #2F2F2F; background-color:#000;}
#nav ul li a {color:#000;}
#footer {color:#555;}
#footer #footer-button a {background-color:#FFF; color:#000;}
#footer a {color:#000;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: HOMEPAGE
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.perex {border-bottom:1px solid #FFF;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: ABOUT US
-------------------------------------------------------------------------------------------------------------------------------------------------- */	
	
.team li {border-bottom:1px solid #CCC;}
	
/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: PORTFOLIO
-------------------------------------------------------------------------------------------------------------------------------------------------- */
	
.portfolio li {border-bottom:1px solid #CCC;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PORTLET: TEXT BOX
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.text-box {border:1px solid #CCC; background:#FFF;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PORTLET: PAGINATION
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.pagination a {background:#777; color:#FFF;}
.pagination a.pagination-step {background:#000; color:#FFF;}
.pagination strong {background:#FC0;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PORTLET: GROUP OF LINKS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.group {background:#FFF;}
.group li a {border:1px solid #ABABAB; border-bottom:none; background-color:#EEE;}
.group li a:hover {background-color:#CCCCCC; color:#000;}
.group li:last-child a {border-bottom:1px solid #ABABAB;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PORTLET: IMAGE SLIDER
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#controls li a {background:#000; color:#FFF;}
#controls li.current a {background:#CCCCCC; color:#000;}