@model MVCGrid.DAL.Content
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                MVC Grid Edit
            </p>
            @using (Html.BeginForm())
            {
                <fieldset>
                    <legend>Content</legend>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PageName)
                        @Html.ValidationMessageFor(model => model.PageName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ContentText)
                        @Html.ValidationMessageFor(model => model.ContentText)
                    </div>
                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            }
        </div>
    </section>
}
