@model MVCGrid.DAL.Content
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                MVC Grid Details
            </p>
            <div>
                <p>
                    ContentID:
                    @Model.ContentID
                </p>
                <p>
                    PageName:
                    @Model.PageName
                </p>
                <p>
                    ContentText:
                    @Model.ContentText
                </p>
            </div>
        </div>
    </section>
}
