<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <!--
    <compilation debug="true" targetFramework="4.0" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
    -->

    <!--http://forums.asp.net/t/1588317.aspx/1-->
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=W-DEV2;Initial Catalog=MVCGrid;Persist Security Info=True;User ID=MVCGrid;Password=Password2012;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\MVCGrid.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=43997191-ec88-45c8-bb4f-a0df002b9445.sqlserver.sequelizer.com;Initial Catalog=db43997191ec8845c8bb4fa0df002b9445;Persist Security Info=True;User ID=zicutgpfnslhvzzo;Password=rCTsfUuNjY5pokzKgnHsLavShPmJZhBfLiwBFsEh8AM4tv6uqYjLvK4rhbkxHSVb;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43997191-ec88-45c8-bb4f-a0df002b9445.sqlserver.sequelizer.com;initial catalog=db43997191ec8845c8bb4fa0df002b9445;user id=zicutgpfnslhvzzo;password=rCTsfUuNjY5pokzKgnHsLavShPmJZhBfLiwBFsEh8AM4tv6uqYjLvK4rhbkxHSVb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
