<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MSTestProject;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EntitiesContext" connectionString="metadata=res://*/EntitiesContext.csdl|res://*/EntitiesContext.ssdl|res://*/EntitiesContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7503cc81-a69c-47ec-ad6d-a08f01299d9c.sqlserver.sequelizer.com;Initial Catalog=db7503cc81a69c47ecad6da08f01299d9c;User ID=yvrlhaikuzyfydua;Password=3kmnrdFPLggANtQQJXVYbajEYxYRuFnizz7Tsmz7wfZG7ATNeRQpMxH3bNv2mXtf;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>